@import './upload.less';

.chart-container {
  .header {
    .ant-select {
      margin-left: 10px;
    }
    .sub-header {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}