.img-container {
  margin-bottom: 30px;
  .img-title {
    font-size: 18px;
    font-weight: 600;
    padding: 4px 0;
  }
  .img-content {
    display: flex;
    align-items: center;
    .img-block {
      img {
        width: 150px;
        height: 200px;
      }
      div {
        width: 150px;
        font-weight: 600;
        text-align: center;
      }
    }
    .img-block-left {
      width: 150px;
      flex: 1 1;
    }
    .img-block-right {
      margin-left: 10px;
    }
  }
}