.nofile {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .anticon {
    font-size: 60px;
  }
}

.container {
  position: relative;
  button {
    position: absolute;
    bottom: -60px;
    right: 0;
  }
}